---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import { Link } from '@radix-ui/themes';

const allItems = await getCollection('techtonica-items');
const pageTitle = "TT Item Index";
---
<Layout title={pageTitle}>
  <ul>
    {allItems.map((item) => (
      <li><Link href={`/techtonica/items/${item.id}`}>{item.data.name}</Link></li>
    ))}
  </ul>
</Layout>
