---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import { Link } from '@radix-ui/themes';

const allPosts = await getCollection('posts');
const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())];
const pageTitle = "Tag Index";
---
<Layout title={pageTitle}>
  <ul class="tags">
    {tags.map((tag) => (
      <li><Link href={`/tags/${tag}`}>{tag}</Link></li>
    ))}
  </ul>
</Layout>
