---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';
import { Text, Link } from '@radix-ui/themes';

const allPosts = await getCollection('posts');
const pageTitle = 'Astro Toybox Blog';
---
<Layout title={pageTitle}>
  <Text>This is where I will post about my journey learning Astro.</Text>
  <ul>
    {allPosts.reverse().map((post) => <li><Link href={`/astro-toybox/posts/${post.slug}`}>{post.data.title}</Link></li>)}
  </ul>
</Layout>
