---
import "@radix-ui/themes/styles.css";
import "../styles/global.css";
import Navigation from "../components/Navigation.astro";
import { ViewTransitions } from "astro:transitions";
import { Flex, Container } from "@radix-ui/themes";
import { ThemeLayout } from "./ThemeLayout";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <ThemeLayout client:load>
      <Navigation />
      <Container size="1" align="center">
        <main>
          <h1 transition:animate="slide">{title}</h1>
          <Flex direction="column" gap="2">
            <slot />
          </Flex>
        </main>
      </Container>
    </ThemeLayout>
  </body>
</html>
